<mat-toolbar class="toolbar">
    <div class="logo">
      <img src="../../../../assets/images/CITI.jpg" alt="Citi-Logo" class="logo-image" routerLink="/home">
    </div>
    <span id="title" class="center-title" routerLink="/home">Customer Session Portal</span> 
    <span id="username" *ngIf="loggedIn">{{username}}</span>   
    <button mat-icon-button [matMenuTriggerFor]="menu" class="login-button">
      <mat-icon *ngIf="loggedOut">person</mat-icon>
      <mat-icon *ngIf="loggedIn">exit_to_app</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="loggedIn" (click)="logout()">Logout</button>
      <button mat-menu-item *ngIf="loggedOut" (click)="login()" routerLink="/login">Login</button>
    </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>
  